doctype 5
html(lang="en")
	head
		title Seat Twitter Constructor

		//- meta
		meta(property="og:title", content="Seat Twitter Constructor")
		meta(property="og:site_name", content="Seat Twitter Constructor")
		meta(property="og:description", content="Собери Seat")

		//- style
		//- link(rel='shortcut icon', href="img/favicon.ico")
		//- link(rel="stylesheet", href="css/bootstrap.min.css")
		//- link(rel="stylesheet", href="css/index.css")
		//- link(rel="stylesheet", href="css/jquery.mCustomScrollbar.css")
		link(rel="stylesheet", href="build/allcss.css")

		//- scripts
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
		script(src="//code.createjs.com/easeljs-0.6.1.min.js")
		script(src="//code.createjs.com/preloadjs-0.3.1.min.js")
		script(src="/socket.io/socket.io.js")
		script(src="//vk.com/js/api/openapi.js?100")
		script(src="/js/VerbalExpressions.js")
		script(src="/js/bootstrap.js")
		script(src="/js/jquery.mCustomScrollbar.min.js")
		script(src="/js/canvas.js")		
		//- script(src="/build/scripts.min.js")

		//if lt IE 9
			script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")

	body
		header
			a(href="http://www.seat.ru/", id="logo")
			ul#seat_menu
				li
					a(href="http://www.seat.ru/content/ru/brand/ru/company/we-are-seat.html", target="_blank") КОМПАНИЯ
				li
					a(href="http://www.seat.ru/content/ru/brand/ru/contact/dealersmaps.html", target="_blank") ДИЛЕРЫ SEAT
				li
					a(href="http://www.seat.ru/content/ru/brand/ru/news-and-events/seat-world.html", target="_blank") МИР SEAT
				li
					a(href="http://www.seat.ru/content/ru/brand/ru/finance/about-finance.html", target="_blank") SEAT ФИНАНС
				li
					a(href="http://www.seat.ru/content/ru/brand/ru/service/home.html", target="_blank") SEAT SERVICE
				li
					a(href="http://www.seat.ru/content/ru/brand/ru/contact/contacts.html", target="_blank") КОНТАКТЫ
			.wrapper-table
				table#seat_cars(cellspacing="0", cellpadding="0", width="960")
					tr
						td
							a(href="http://www.seat.ru/content/ru/brand/ru/models/ibiza-5d/discover.html", target="_blank")
								span|IBIZA
						td
							a(href="http://www.seat.ru/content/ru/brand/ru/models/ibiza-sc/discover.html", target="_blank") 
								span|IBIZA&nbsp;SC 
						td
							a(href="http://www.seat.ru/content/ru/brand/ru/models/ibiza-st/discover.html", target="_blank") 
								span|IBIZA&nbsp;ST
						td
							a(href="http://www.seat.ru/content/ru/brand/ru/models/leon/leon-reference-copa.html", target="_blank") 
								span|leon&nbsp;copa
						td
							a(href="http://www.seat.ru/content/ru/brand/ru/models/new-leon/discover.html", target="_blank") 
								span|NEW&nbsp;LEON
						td
							a(href="http://www.seat.ru/content/ru/brand/ru/models/leon-sc/discover.html", target="_blank") 
								span|NEW&nbsp;LEON&nbsp;SC
						td
							a(href="http://www.seat.ru/content/ru/brand/ru/models/altea-freetrack/discover.html", target="_blank") 
								span|FREETRACK&nbsp;4x4
						td 
							a(href="http://www.seat.ru/content/ru/brand/ru/models/alhambra/discover.html", target="_blank") 
								span|ALHAMBRA&nbsp;
						td 
							a(href="http://www.seat.ru/content/ru/brand/ru/news-and-events/special-offer/off.html", target="_blank") 
								span|СПЕЦИАЛЬНЫЕ&nbsp;ПРЕДЛОЖЕНИЯ
		div#content
			//- preloader
			div.preload 0%
			//- car
			div.car
				canvas#canvas(width="960", height="479")
				//- controls 
				button.arrow-l(onclick="canvas.prev()")
				button.arrow-r(onclick="canvas.next()")
				ol
					li.active(onclick="canvas.renderStage('front');")
					li(onclick="canvas.renderStage('back');")
					li(onclick="canvas.renderStage('top');")
				//- tweet
				.tweet.left
					.img
					.text
						.names
							span.name
							span.nick_name
						p	
							span 

			//- news
			section.news
				.wrapper
					.columL
						h2.title
							span.twitter
							| Пиши в твиттер с ХЭШТЕГом 
							strong #NewSeatLeon

						p	Благодаря активности участников в твиттере, новый SEAT LEON получает детали                 
							|и приобретает новый, незабываемый, стремительный облик. Самые активные любители SEAT получат реальные призы. 
							|Наведи на деталь ‒  узнаешь, кто её хозяин!
							strong(style="margin:10px 0 0;") Обратите внимание! 
							br
							|Не каждый твит выигрышный! 
							|Чем больше Вы сделаете твитов с хэштегом #NEWSEATLEON, тем больше Ваши шансы на успех!
							br
							br
							|Подробные правила конкурса 
							a(href="http://www.seat.ru/content/ru/brand/ru/news-and-events/contest/Contesttwitter.html", target="_blank")
								strong читайте здесь.
						p
							strong
								|Следуйте за нами в Twitter и будьте в курсе последних новостей мира SEAT!
							a(href="https://twitter.com/SeatRussia",
							class="twitter-follow-button"
							data-show-count="false"
							data-lang="ru"
							data-dnt="true"
							data-size="large") Читать @SeatRussia</a>
					.columR
						h2.title Последние новости
						#newsCarousel
			//- details
			section.details
				h2 Облако деталей
				.tweet-box
					.img
					.text
						.names
							span.name
							span.nick_name
						p	
							span 
				each item, i in items
					div(class="detail v"+(i+1))
			//- Video
			section.video
				h2 Видео
				#ytapiplayer
			//- slider
			section.slider
				h2 Линии завораживают
				#carousel.carousel.slide
					<!-- Wrapper for slides -->
					.carousel-inner
						.item.active
							img(src="img/img.jpg")
						.item
							img(src="img/2.jpg")
						.item
							img(src="img/6.jpg")

					<!-- Controls -->
					a.left.carousel-control(href="#carousel", data-slide="prev")
						span.arrow-l
					a.right.carousel-control(href="#carousel",data-slide="next")
						span.arrow-r

				<!-- Indicators -->
				ol.carousel-indicators
					li(data-target="#carousel", data-slide-to="0").active
					li(data-target="#carousel", data-slide-to="1")
					li(data-target="#carousel", data-slide-to="2")
			//-Send
			section.socail
				h2 Познакомься с ним ближе 
				.links
					a(href="https://secure-www.seat.com/content/ru/brand/ru/contact/testdrive.htx", target="_blank", 
						onclick="yaCounter22260598.reachGoal('testDrive');").drive
						span 
						|ТЕСТ-ДРАЙВ
					a(href="http://www.seat.ru/content/medialib/seat/ru/MODELS/leon-5d/catalogue/_jcr_content/renditions/rendition.download_attachment.file/seat-newleon-catalogue-18052013.pdf", target="_blank"
						onclick="yaCounter22260598.reachGoal('brochure');").broshura 
						span
						|СКАЧАТЬ 
						br 
						|БРОШЮРУ		
					a(href="http://www.seat.ru/content/medialib/seat/ru/MODELS/leon-5d/pricelist/_jcr_content/renditions/rendition.download_attachment.file/newleon_pricelist_2013-08-09.pdf", target="_blank",
						onclick="yaCounter22260598.reachGoal('price');").price
						span 
						|СКАЧАТЬ 
						br 
						|ПРАЙС		
					a(href="http://www.seat.ru/content/ru/brand/ru/models/new-leon/configurator.html", target="_blank", onclick="yaCounter22260598.reachGoal('configurator');").config
						span 
						b КОНФИГУРАТОР
					a(href="http://www.seat.ru/content/ru/brand/ru/contact/dealersmaps.html", target="_blank", onclick="yaCounter22260598.reachGoal('diller');").diller
						span 
						|НАЙТИ 
						br 
						|ДИЛЛЕРА
			#buttons
						a(href="https://twitter.com/share"
						  class="twitter-share-button" 
						  data-lang="ru"
						  data-text=" "
						  data-hashtags="NewSeatLeon") Твитнуть
						div(
							class="fb-like" 
							data-href="http://newleon.ru" 
							data-width="100" 
							data-layout="button_count" 
							data-show-faces="false" 
							data-send="false")
						#vk_like
		footer
			.topImg
				.seat_footer_header_center
					a(href="http://www.seat.ru/content/ru/brand/ru/company/we-are-seat/enjoyneering.html").seat_footer_tab_link
			.social
				.seat_footer_socialmedia
					.buttons
						ul
							li.follow_text
								span Будьте в курсе
							li
								a(href="http://www.facebook.com/SeatRussia", target="_blank").facebook_icon
							li
								a(href="http://www.vk.com/SeatRussia", target="_blank").vk_icon
							li
								a(href="http://www.odnoklassniki.ru/seatrussia", target="_blank").odnoklassniki
							li
								a(href="http://www.twitter.com/SeatRussia", target="_blank").twitter21x21
							li
								a(href="https://www.youtube.com/seatrus/", target="_blank").youtube_icon
						
			.footer
				.seat_footer_imprint
					ul
						li
							span &copy;2013 SEAT, S.A.
						li
							a(href="http://www.seat.ru/content/ru/brand/ru/legal-note.html", title="ПРАВОВАЯ ИНФОРМАЦИЯ" , target="_blank") ПРАВОВАЯ ИНФОРМАЦИЯ
						li
							a(href="http://www.seat.ru/content/ru/brand/ru/sitemap.html", title="КАРТА САЙТА") КАРТА САЙТА
		#fb-root
		//- social
		//- 
		script(type="text/javascript").
			!function (d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0],
					p = /^http:/.test(d.location) ? 'http' : 'https';
				if (!d.getElementById(id)) {
					js = d.createElement(s);
					js.id = id;
					js.src = p + '://platform.twitter.com/widgets.js';
					fjs.parentNode.insertBefore(js, fjs);
				}
			}(document, 'script', 'twitter-wjs');

			(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1&appId=166083373582731";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));

			(function (d, w, c) {
				(w[c] = w[c] || []).push(function() {
					try {
						w.yaCounter22260598 = new Ya.Metrika({id:22260598,
								webvisor:true,
								clickmap:true,
								accurateTrackBounce:true});
					} catch(e) { }
				});

				var n = d.getElementsByTagName("script")[0],
					s = d.createElement("script"),
					f = function () { n.parentNode.insertBefore(s, n); };
				s.type = "text/javascript";
				s.async = true;
				s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

				if (w.opera == "[object Opera]") {
					d.addEventListener("DOMContentLoaded", f, false);
				} else { f(); }
			})(document, window, "yandex_metrika_callbacks");

			window.onload = function () {
				if( !window.VK ) return;
				VK.init({apiId: 3868264, onlyWidgets: true});
				VK.Widgets.Like("vk_like", {type: "mini", height: 20});
			}